Web Services/Web Service Interface Orchestration (SOA)/ApplicationServer/xml-resources/web-service-references/sort/wsdl/localhost_10001/sort.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://sortingmachine/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sortingmachine/">

<xs:element name="mergeSort" type="tns:mergeSort"></xs:element>

<xs:element name="mergeSortResponse" type="tns:mergeSortResponse"></xs:element>

<xs:complexType name="mergeSort">
<xs:sequence>
<xs:element name="arg0" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mergeSortResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>