Web Services/Web Service Interface Orchestration (SOA)/ApplicationServer/src/META-INF/wsdl/localhost_9005/calculate.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://applicationserver/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://applicationserver/" name="CalculatorWorkService">
<types>
<xsd:schema>
<xsd:import namespace="http://applicationserver/" schemaLocation="http://localhost:9005/calculate?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"></part>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"></part>
</message>
<message name="divide">
<part name="parameters" element="tns:divide"></part>
</message>
<message name="divideResponse">
<part name="parameters" element="tns:divideResponse"></part>
</message>
<message name="substract">
<part name="parameters" element="tns:substract"></part>
</message>
<message name="substractResponse">
<part name="parameters" element="tns:substractResponse"></part>
</message>
<message name="modulus">
<part name="parameters" element="tns:modulus"></part>
</message>
<message name="modulusResponse">
<part name="parameters" element="tns:modulusResponse"></part>
</message>
<message name="multiply">
<part name="parameters" element="tns:multiply"></part>
</message>
<message name="multiplyResponse">
<part name="parameters" element="tns:multiplyResponse"></part>
</message>
<portType name="Calculator">
<operation name="add">
<input wsam:Action="http://applicationserver/Calculator/addRequest" message="tns:add"></input>
<output wsam:Action="http://applicationserver/Calculator/addResponse" message="tns:addResponse"></output>
</operation>
<operation name="divide">
<input wsam:Action="http://applicationserver/Calculator/divideRequest" message="tns:divide"></input>
<output wsam:Action="http://applicationserver/Calculator/divideResponse" message="tns:divideResponse"></output>
</operation>
<operation name="substract">
<input wsam:Action="http://applicationserver/Calculator/substractRequest" message="tns:substract"></input>
<output wsam:Action="http://applicationserver/Calculator/substractResponse" message="tns:substractResponse"></output>
</operation>
<operation name="modulus">
<input wsam:Action="http://applicationserver/Calculator/modulusRequest" message="tns:modulus"></input>
<output wsam:Action="http://applicationserver/Calculator/modulusResponse" message="tns:modulusResponse"></output>
</operation>
<operation name="multiply">
<input wsam:Action="http://applicationserver/Calculator/multiplyRequest" message="tns:multiply"></input>
<output wsam:Action="http://applicationserver/Calculator/multiplyResponse" message="tns:multiplyResponse"></output>
</operation>
</portType>
<binding name="CalculatorWorkPortBinding" type="tns:Calculator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="add">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="divide">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="substract">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="modulus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="multiply">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="CalculatorWorkService">
<port name="CalculatorWorkPort" binding="tns:CalculatorWorkPortBinding">
<soap:address location="http://localhost:9005/calculate"></soap:address>
</port>
</service>
</definitions>