Web Services/One way Service/Client/src/META-INF/wsdl/localhost_1201/ws.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://weboperations_service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://weboperations_service/">

<xs:element name="message" type="tns:message"></xs:element>

<xs:element name="messageResponse" type="tns:messageResponse"></xs:element>

<xs:element name="setName" type="tns:setName"></xs:element>

<xs:complexType name="message">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="messageResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setName">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>